.mood-select {
    display: flex;
    justify-content: center;
 }
 .moods {
    width: 25%;
    border-radius: 10px;
 }
 .mood-btn {
    border-radius: 10px;
    margin-left: 5px;
 }
 .hero-background {
    height: 20vh;
    background-image: linear-gradient(rgb(193, 104, 10), rgb(238, 170, 111))

 }
 .spotify-embed-El {
    width: 100%;
    height: 300px;
 }
 .main-body {
    background-color: #ceb973;
    color: rgb(145, 122, 28);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    height: 70vh;
 }
 .header {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3vh;
 }
 .header h1 {
    border-bottom: 2px solid rgb(220, 111, 16);
    width: 100%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px;
    padding: 15px
   
 }
 .display {
    margin-top: 5vh;
    text-align: center;
 }
 .history-btns {
    width: 50%;
    margin: 10px;
    border-radius: 5px;
    background-color: goldenrod;
    color: white;
 }
 