html, body{
   padding: 0;
   margin: 0;
   scroll-behavior: smooth;
}

.mood-select {
    display: flex;
    justify-content: center;
 }

 .moods {
    width: 25%;
    border-radius: 10px;
 }

 .mood-btn {
    border-radius: 10px;
    margin-left: 5px;
 }

 .hero-background {
    height: 20vh;
 }

 .spotify-embed-El {
    width: 100%;
    height: 300px;
 }


.main-body {
    background-color: #2f2f2f;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    height: 70vh;
    margin: 0 auto;
   }


.footer-body{
   background-color: #2f2f2f;
   color: white;
   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
   height: 70vh;
   margin: 0 auto;
}
 
.header {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3vh;

 }
 .header h1 {
    border-bottom: 2px solid black;
    width: 100%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px;
    padding: 15px
   
 }
 .display {
    margin-top: 5vh;
    text-align: center;
 }
 .history-btns {
    width: 50%;
    margin: 10px;
 }
 

 #contact-form{
    max-width: 700px;
    margin: 0 auto;
    display: block;
    border: 1px solid #bbb;
    padding: 14px;
    border-radius: 7px;
    margin-bottom: 50px;
 }

 #contact-form textarea{
    min-height: 100px;
    font-size: 14px;
 }

 #contact-form label{
   line-height: 2.5em;
 }

 .input-field{
    font-size: 14px;
    border: 1px solid crimson;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;

 }

 #submit-btn{
    width: 100%;
    color: crimson;
    border: none;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    
 }

 .footer{
    overflow: auto;
    margin: 0 auto;
 }
 .email-form {
    display: flex;
   justify-content: center;
 }

.emailinput {
   border-radius: 5px;
}

